.slider {
    .buttonRestart {
        position: relative;
        #restart {
            position: absolute;
            left: 0;
            top: 0;
            cursor: pointer;
            background-color: dimgray;
            background: transparent;
            color: royalblue;
        }
    }
    .main-carousel {
        .carousel-cell {
            width: 100%;
            min-height: 250px;
            height: 50vh;
            border-radius: 5px;
            font-size: 50px;
            background-size: cover;
            position: relative;
            img {
                display: block;
                width: 100%;
                height: inherit;
            }     
            .container {
                position: absolute;
                top: 0;               
                margin: 0 auto;
                width: 50%;
                right: 25%;
                color: whitesmoke;
                text-align: center;
                text-shadow: 3px 3px 6px black;
            }
        }
        .flickity-page-dots {
            display: none;
        }
    }
    .progress-bar {
      height: 20px;
      width: 0;
      background: #333;
    }
}
.maps-container{
    max-width: 1200px; 
	margin: 0 auto;
    #map {
        height: calc(50vh - 20px);
        width: 100%;
    }
}